<section id="feed" class="container-fluid">
  <article class="col-md-12 col-xs-12">
    <h1>Gif Feed</h1>
  </article> 
  <article class="postLarge col-md-12 col-xs-12" ng-repeat="post in images | orderBy: '-'">
    <img class="col-md-12 col-xs-12" ng-src={{post.photo}} alt="Surfing Gif" />
    <a href="/profile">{{user.username}}</a>
    <img src="assets/imgs/like.png" width="13" alt="Like Button" ng-click="increaseCount(post)"/><p>{{post.likes}}</p>
    <button class="btn btn-danger" ng-click="removePost(post)">Delete</button>
  </article>
</section>