<section id="homepage" class="container-fluid">
  <article class="col-md-6 col-xs-4">
    <img src="assets/imgs/hello.gif" alt="Welcome Gif" />
  </article>
  <article class="col-md-6 col-xs-4">
    <h1>Sign Up</h1>
    <h2>Start browsing and sharing gifs today!</h2>
    <form ng-submit="register()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="newuser.username" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" ng-model="newuser.email" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="newuser.password" />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </article>
</section>
<footer class="footer">
      <p><span>Copyright &#169; 2016 Gify.</span> All rights reserved.</p>
</footer>