<section id="search" class="container-fluid">
  <article class="col-md-12 col-xs-12">
    <h1>Search Users</h1>
  </article>
  <div class="col-md-12 col-xs-12">
    <article>
      <a href="profile.html"><img src="assets/imgs/profile1.jpg" alt="Tyler Richard" /></a>
      <h2><a href="profile.html">Username</a> <br /> <span>Tyler Richard</span></h2>
    </article>
    <article>
      <a href="profile.html"><img src="assets/imgs/profile2.jpg" alt="Tyler Richard" /></a>
      <h2><a href="profile.html">Username</a> <br /> <span>Tyler Richard</span></h2>
    </article>
    <article>
      <a href="profile.html"><img src="assets/imgs/profile3.jpg" alt="Tyler Richard" /></a>
      <h2><a href="profile.html">Username</a> <br /> <span>Tyler Richard</span></h2>
    </article>
    <article>
      <a href="profile.html"><img src="assets/imgs/profile4.png" alt="Tyler Richard" /></a>
      <h2><a href="profile.html">Username</a> <br /> <span>Tyler Richard</span></h2>
    </article>
  </div>
</section>